<h2>Nuevo Producto</h2>
<form action="/producto/guardar" method="POST">
  Nombre: <input name="nombre"><br>
  Precio Compra: <input name="precio_compra"><br>
  Precio Venta: <input name="precio_venta"><br>
  Existencia: <input name="existencia"><br>
  <button type="submit">Guardar</button>
</form>
