<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Total Ventas</th>
      <th>Monto Total</th>
    </tr>
  </thead>
  <tbody>
    <% ventas.forEach(c => { %>
      <tr>
        <td><%= c.cliente %></td>
        <td><%= c.total_ventas %></td>
        <td><%= parseFloat(c.total_monto).toFixed(2) %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
    